/* Separate properties
each className will be style here  */
.game-area {
  position: relative;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  bottom: -40px;
  border: 2px solid #000;
  top: auto;
  margin-top: -1cm;
    


}

.snake-dot{
  /* each dot position absolute */
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food{
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: 1px solid rgb(255, 255, 255);
  z-index: 1;
}


.container {
	height: 100vh;
	background: hsl(192, 7%, 87%);
	transition: background 1.2s;
}
.container.dark {
	background: hsl(200, 65%, 8%);
}

.btn-container {
	text-align: center;
}
.swap-btn {
	margin: auto;
	padding: 10px 20px;
	background: #848484;
	font-weight: bold;
  border: none;
	border-radius: 6px;
	color: #eee;
	outline: none;
	cursor: pointer;
	line-height: 1.5em;
}
